
<h1>Contact Me</h1>
Leave down your detail and get connected with me.

<%= render 'form' %>

Or you can find at 
<a href="mailto:travelxstyle@gmail.com">travelxstyle@gmail.com</a>
or <a href = "https://github.com/magh82">https://github.com/magh82</a>

<%#link_to 'Back', contacts_path %>
